@model IEnumerable<RevatureP1.Models.OrderItemViewModel>

@*
    The cart view page
*@

@{ ViewData["Title"] = "Cart"; }

<div class="borderdiv">
    <h1>Order History for @ViewData["userName"]</h1>

    @*<p>
            <a asp-action="Create">Create New</a>
        </p>*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product Name
                    @*@Html.DisplayNameFor(model => model.ProductName)*@
                </th>
                <th>
                    Number In Cart
                </th>
                <th>
                    Total Price
                </th>
                <th>
                    Ordering From
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int iInc = 0;
            }
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderCount)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.TotalPriceWhenOrdered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationAddress)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="DeleteCartItem" asp-route-id="@iInc">Remove</a>
                </td>
            </tr>
                iInc++;
            }
        </tbody>
    </table>
    @{ if (Model.Count() == 0)
        {<h3>Cart is empty</h3> } }
    <a class="btn btn-primary" href="javascript:history.go(-1)">Back</a>
    @{ if (Model.Count() > 0)
        {
            <br />
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmCheckoutModal">Checkout Cart</button>
            <br />
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmClearModal">Clear Cart</button>

        }
    }
</div>

<div class="modal fade" id="confirmCheckoutModal" tabindex="-1" aria-labelledby="checkoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkoutModalLabel">Confirm Cart Checkout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @*<div class="modal-body">
                    Confirm Cart Checkout
                </div>*@
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" asp-action="CheckoutCart">Checkout Cart</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="confirmClearModal" tabindex="-1" aria-labelledby="clearModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clearModalLabel"> Confirm Cart Clear</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @*<div class="modal-body">
                    Confirm Cart Clear
                </div>*@
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" asp-action="ClearCart" onclick="handleClick()">Clear Cart</a>
            </div>
        </div>
    </div>
</div>