@model IEnumerable<RevatureP1.Models.OrderItemViewModel>
@*
    The store order history page
*@
@{ ViewData["Title"] = "Store History"; }

<div class="borderdiv">
    <h1>Order History for @ViewData["storeaddress"]</h1>

    @*<p>
            <a asp-action="Create">Create New</a>
        </p>*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product Name
                    @*@Html.DisplayNameFor(model => model.ProductName)*@
                </th>
                <th>
                    Number Ordered
                </th>
                <th>
                    Total Price
                </th>
                <th>
                    Ordered By
                </th>
                <th>
                    Ordered On
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderCount)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.TotalPriceWhenOrdered)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOrdered)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{ if (Model.Count() == 0)
        {
            <h3>No Prior orders</h3> } }
    <a class="btn btn-primary" href="javascript:history.go(-1)">Back</a>
</div>